<h1>短信记录查看</h1>
<%= link_to "返回发送界面", root_path%>
<table border=1>
  <thead>
    <th>接受电话</th>
    <th>短信内容</th>
    <th>发送日期</th>
    <th>发送状态</th>
    
  </thead>
  
  <tbody>
    <% @messages.each do |message| %>
    <tr>
      <td><%= message.to %></td>
      <td><%= message.body %></td>
      <td><%= message.date_created %></td>
      <td><%= message.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>