<h1>短信记录查看</h1>
<%= link_to "返回发送界面", root_path%>
<table border=1>
  <thead>
    <th>发送号码</th>
    <th>接收号码</th>
    <th>短信内容</th>
    <th>发送日期</th>
    <th>发送状态</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  
  <tbody>
    <% @messages.each do |message| %>
    <% if message.status == "received"%>
    <tr bgcolor="blue">
    <% else %>
    <tr>
    <% end%>
      <td><%= message.from %></td>
      <td><%= message.to %></td>
      <td><%= message.content %></td>
      <td><%= (message.send_date- 4.hour).strftime('%c')  %></td>
      <td><%= message.status %></td>
      <td><%= link_to 'Edit', edit_sms_out_path(message) %></td>
    </tr>
    <% end %>
  </tbody>
</table>